{{ define "logs" }}{{ template "header" . }}
<div class="row">
    <div class="col">
        <div id="container" class="card" style="width: 80%">
            <div class="card-body">
                <h3 class="card-title">Logboeken</h3>
                <br>
                
    <textarea class="form-control" id="logviewer" rows="20" readonly>
{{ .Logs }}</textarea>
            
            <br>
                 <div class="d-flex gap-3">
                    <select id="logFilter" class="form-select" onchange="filterLogs(this.value)">
                        <option value="all">Toon alle logboeken</option>
                        <option value="warning">Toon [warning]</option>
                        <option value="auth">Toon [auth]</option>
                        <option value="download">Toon [download]</option>
                        <option value="upload">Toon [upload]</option>
                        <option value="edit">Toon [edit]</option>
                        <option value="info">Toon [info]</option>
                    </select>

                    <select id="deleteLogs" class="form-select" onchange="deleteLogs(this.value)">
                        <option value="none">Verwijder logboeken...</option>
                        <option value="2">Ouder dan 2 dagen</option>
                        <option value="7">Ouder dan 7 dagen</option>
                        <option value="14">Ouder dan 14 dagen</option>
                        <option value="30">Ouder dan 30 dagen</option>
                        <option value="all">Verwijder alle logboeken</option>
                    </select>
                </div>
            
            <br>
            
            </div>
        </div>
    </div>
</div>
<script src="./js/min/admin.min.{{ template "js_admin_version"}}.js"></script>
	<script>
		var systemKey = "{{.SystemKey}}";
		let textarea = document.getElementById('logviewer');
   		textarea.scrollTop = textarea.scrollHeight;
		var logContent = textarea.value;
	</script>
{{ template "pagename" "LogOverview"}}
{{ template "customjs" .}}
{{ template "footer" true}}
{{ end }}
