{{define "error_auth_header"}}{{template "header" .}}
 
      <div class="row">
        <div class="col">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h2 class="card-title">Ongeautoriseerd</h2>
		    <br>
		    <p class="card-text">Fout: Geen login informatie ontvangen van de authenticatie provider.</p><br>
		  </div>
		</div>
	    </div>
    </div>
{{ template "pagename" "LoginErrorHeader"}}
{{ template "customjs" .}}
{{template "footer"}}    
{{end}}
