{{define "error_int_oauth"}}{{template "header" .}}

      <div class="row">
        <div class="col">
{{ if eq .ErrorProvidedName "access_denied"}}
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h2 class="card-title">Toegang geweigerd</h2>
		    <br>
		    <p class="card-text">De aanvraag werd geweigerd door de gebruiker of de authenticatie provider.</p><br>
{{ else }}
		<div class="card" style="width: 65%;">
		  <div class="card-body">
		    <h2 class="card-title">OIDC Provider Fout {{.ErrorProvidedName}}</h2>
		    <br>
		    <p class="card-text"><b>Login met OAuth provider was niet succesvol, de volgende fout werd meegegeven:</b></p>
{{ if .ErrorProvidedMessage }}
		 <p class="text-monospace">{{ .ErrorProvidedMessage }}</blockquote></p>
{{ end}}
		 <p class="text-monospace">{{ .ErrorGenericMessage }}</blockquote></p><br>
{{ end }}
		    <a href="./login?consent=true" class="card-link">Probeer opnieuw</a>
		  </div>
		</div>
	    </div>
    </div>
{{ template "pagename" "LoginErrorOauth"}}
{{ template "customjs" .}}
{{template "footer"}}
{{end}}
