{{define "forgotpw"}}{{ template "header" . }} 
      <div class="row">
        <div class="col">
		<div id="container" class="card" style="width: 35em">
		  <div class="card-body">
		    <h3 class="card-title">Wachtwoord vergeten</h3>
		    <br>
		    <p class="card-text">
			Als u uw wachtwoord bent vergeten, vraag dan uw beheerder om het wachtwoord te resetten.<br>
		    </p><br>
		  </div>
		</div>
	    </div>
   	 </div>
{{ template "pagename" "ForgotPw"}}
{{ template "customjs" .}}
{{ template "footer" }}
{{end}}
