{{define "error"}}{{template "header" .}}
 
      <div class="row">
        <div class="col">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h2 class="card-title">Fout</h2>
		    <p class="card-text">
		    <br>
{{ if eq .ErrorId 0 }}
		    Dit bestand kan niet gevonden worden.<br><br>Ofwel de link is verlopen of het bestand is te vaak gedownload.
{{ end }}
{{ if eq .ErrorId 1 }}
		    Dit bestand is versleuteld en er is geen sleutel meegegeven.<br><br>Neem contact op met de uploader om de juiste link te ontvangen. Gebruik de link inclusief de waarde na de hash.
{{ end }}
{{ if eq .ErrorId 2 }}
		    Dit bestand is versleuteld en er is geen sleutel meegegeven.<br><br>Neem contact op met de uploader om de juiste link te ontvangen. Gebruik de link inclusief de waarde na de hash.
{{ end }}
<br>&nbsp;
		    </p>
		  </div>
		</div>
	    </div>
    </div>
{{ template "pagename" "PublicError"}}
{{ template "customjs" .}}
{{template "footer"}}    
{{end}}
