{{define "error_auth"}}{{template "header" .}}
 
      <div class="row">
        <div class="col">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h2 class="card-title">Ongeautoriseerd</h2>
		    <br>
		    <p class="card-text">Login met OAuth provider was sucesvol, echter is deze gebruiker niet geautoriseerd om Gokapi te gebruiken.</p><br><br>
		    <a href="./login?consent=true" class="card-link">Log in als andere gebruiker</a>
		  </div>
		</div>
	    </div>
    </div>
{{ template "pagename" "LoginError"}}
{{ template "customjs" .}}
{{template "footer"}}    
{{end}}
